<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="padding: 0px;">
          <nav>
            <div  class="topnav">
                <h1 href="#default" id="logo">LOGO</h1>
                <div id="navbar-right">
                   
                  <ul>
                        <li class="active"><a routerLink="/">Home</a></li>
                        <li><a routerLink="/contact">contact</a></li>
                        <li><a routerLink="/portfolio">Portfolio</a></li>
                        <li><a routerLink="/gallery">Gallery</a></li>
                            
                            
                       </ul>
                  
                           </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    


